<div class="home-search">
  <form>
    <%= image_tag "logo.png", :class => "logo" %>
    <input class="search-bar" 
          placeholder="Ask me anything!" 
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'Ask me anything!'">
  </form>
</div>

<div class="watson-response" style="display:none">
  8-bit sustainable migas, cronut poutine tumblr church-key farm-to-table four loko direct trade yuccie unicorn meggings readymade. Cloud bread man braid beard brooklyn woke fixie, heirloom cardigan vape echo park distillery hoodie lumbersexual la croix gluten-free. Kickstarter gochujang pinterest forage shoreditch stumptown. Taiyaki tote bag heirloom, microdosing schlitz salvia af hell of literally kinfolk authentic etsy tofu vaporware put a bird on it. +1 8-bit brooklyn skateboard deep v master cleanse iPhone VHS yuccie thundercats selvage intelligentsia la croix hoodie vegan. Bicycle rights williamsburg hella lo-fi gochujang asymmetrical. Echo park locavore readymade irony bitters gentrify, yuccie trust fund narwhal seitan pitchfork ramps.

Forage meh irony tote bag tumblr humblebrag austin iceland gastropub marfa knausgaard synth lumbersexual tbh. Actually normcore church-key lumbersexual. Kogi dreamcatcher locavore, bushwick kinfolk typewriter ramps sriracha poutine la croix activated charcoal tbh raclette photo booth master cleanse. Franzen ramps lo-fi, squid biodiesel street art venmo disrupt yuccie af etsy. Chia poutine tattooed sriracha, crucifix brunch bicycle rights semiotics XOXO adaptogen. La croix hella bushwick leggings thundercats kitsch.

Pinterest bicycle rights cold-pressed, cronut ethical austin sartorial kitsch. Snackwave distillery chicharrones scenester portland poutine. Crucifix cold-pressed pork belly, umami kogi echo park chambray. Butcher post-ironic etsy snackwave banh mi meggings shabby chic glossier dreamcatcher pinterest shoreditch retro XOXO offal taiyaki.

Shaman palo santo raclette truffaut food truck. 3 wolf moon glossier chartreuse tumeric meggings pok pok put a bird on it synth vaporware fingerstache trust fund artisan. 8-bit tumblr trust fund retro fingerstache tofu YOLO butcher roof party. +1 glossier cloud bread forage lyft, vinyl kale chips artisan offal street art lumbersexual.

Offal woke thundercats, heirloom DIY migas tattooed retro raclette schlitz locavore hoodie taiyaki chartreuse. Vaporware XOXO craft beer trust fund humblebrag cloud bread kitsch retro keffiyeh bitters hoodie heirloom. Hexagon before they sold out 8-bit umami sustainable chillwave four loko vinyl. Swag helvetica 90's cardigan lomo williamsburg. Tousled shoreditch next level williamsburg iPhone humblebrag gluten-free.
</div>